* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$white_color: #ffffff;
$purple_color: #99449f;

@font-face {
  font-family: "BrokenDetroit";
  src: url("./Broken-Detroit.ttf") format("truetype");
}

@font-face {
  font-family: "LexendGiga";
  src: url("./LexendGiga-Regular.ttf") format("truetype");
}

.OverallMain {
  height: 3000px;
  background-color: #131313;
  .Partsmain {
    display: flex;

    .Firstpart {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;

      .Headerclass {
        display: flex;
        position: absolute;
        top: 0px;
        color: $white_color;
        font-family: "BrokenDetroit";
        font-size: 24px;
        font-weight: 400;
        gap: 36px;
        & a {
          color: $white_color;
        }
      }
      .NewEra {
        color: $white_color;
        width: 854px;
        position: absolute;
        font-family: "LexendGiga";
        font-size: 64px;
        font-weight: 800;
        margin-top: 160px;
        display: flex;
        justify-content: center;
        letter-spacing: -9.28px;
      }

      .CyberJunglestext {
        color: white;
        font-family: "BrokenDetroit";
        font-size: 230px;
        font-weight: 400;
        letter-spacing: 18.4px;
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 327px;
      }

      .Heroimageclass {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 397px;
      }
    }
  }

    .Secondpartmain {
      background: #131313;
      width: 100%;
      position: relative;
      .Secondpartmaindescription {
        background-color: #131313;
        color: white;
        text-align: center;
        font-family: "LexendGiga";
        font-size: 24px;
        font-weight: 400;
        margin-top: 161px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .stone1 {
        width: 58px;
        height: 58px;
        flex-shrink: 0;
        position: absolute;
        top: 90px;
        left: 342px;
      }
      .stone2 {
        width: 123px;
        height: 123px;
        flex-shrink: 0;
        position: absolute;
        top: 119px;
        right: 76px;
      }
      .stone3 {
        width: 367px;
        height: 367px;
        flex-shrink: 0;
        position: absolute;
        top: 332px;
        left: 1px;
      }
      .Charactersmain {
        margin: 140px 0px 0px 658px;
        font-family: "BrokenDetroit";
        color: $white_color;
        font-size: 96px;
        font-weight: 400;
        letter-spacing: 9.6px;
        & span {
          color: $purple_color;
        }
      }
      .firstcards{
        margin-top: 160px;
        .cardsimages{
          .firstline{
            color: #131313;
          }
        }
      }

    }

    
  
}
